<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Chào bạn, <%= @name %></h1>
<p>
  Chúng mình đã nhận được yêu cầu tạo tài khoản để sử dụng hệ thống của bạn. Rất tiếc, việc sử dụng hệ thống có thể ảnh hưởng tới các thông tin dữ liệu của các thành viên trong <b>GDGOC: PTIT</b> nên chúng mình sẽ xem xét yêu cầu của bạn và phản hồi bạn trong thời gian sớm nhất.<br>
  <br>
  Cảm ơn bạn !
</p>
<p>
  From GDGOC: PTIT with luv.<br>Google Developer Group on Campus: Posts and Telecommunications Institute of Technology
</body>
</html>